.doctor-form {
  padding: 30px;
  background: #F4F6F9;
  border-radius: 12px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  @media (max-width: 768px) {
    margin-left: 0; /* Remove sidebar margin on smaller screens */
    padding: 15px;
  }
}
.title {
  color: #0178A1;
  text-align: center;
  font-weight: 600;
}
.doctor-table-container {
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling */
  scrollbar-width: thin;
}
.doctor-table {
  min-width: 100%; /* Prevent table from shrinking too much */
  border-collapse: collapse;
  background-color: #fff;
  font-size: 0.9em;
  max-height: 500px;
  overflow: hidden;
}
.doctor-table th,
.doctor-table td {
  padding: 12px;
  border: 1px solid #D1DFE7;
}
.doctor-table th {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #E6F3F9;
  text-align: center;
}
.doctor-table td {
  padding: 10px;
  text-align: center;
  color: #333;
  border-bottom: 1px solid #E0E7EC;
  font-size: 0.85em;
}
.action-button:disabled {
  background-color: #A0A0A0;
  cursor: not-allowed;
}
.blink {
  font-weight: bold;
  color: red;
  display: block; /* Ensure it appears below */
  animation: blink-animation 1s steps(2, start) infinite;
}
@keyframes blink-animation {
  50% {
      opacity: 0;
  }
}